---
layout: about
---
<div class="ui stackable two column grid">
	<section class="sixteen wide column">
		<h1 class="ui header">
			Meet Goal Tools
			<span class="ui display-block sub header">
				A set of Open-Source tools for high productivity web-development in Go language
			</span>
		</h1>
		<div class="ui two doubling cards">
			<div class="card">
				<div class="center aligned content">
					<span class="ui blue header">
						<i class="line settings icon"></i>
						Code Generation
					</span>
					<p>
						Goal Tools rely on the concept of code generation rather than runtime reflection.
						As a result <strong>better type safety</strong> and <strong>productivity
						of the end developer</strong> are provided.
						Catch errors when you are building not running your app.
						And focus on things that matter, Goal will take care of the rest.
					</p>
				</div>
			</div>
			<div class="card">
				<div class="center aligned content">
					<span class="ui blue header">
						<i class="line puzzle icon"></i>
						Customizability
					</span>
					<p>
						Components of Goal Tools are built with <strong>compatibility with the standard library</strong>
						in mind.
						Plus they are <strong>loosely coupled</strong> and thus can be easily replaced with
						alternative implementations.
						The result is you can use your own router, template system, reverse routes generator
						or any other component.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="eleven wide column">
		{{ content }}
	</section>

	<section class="five wide column">
		<h2>Getting Started</h2>
		{% include getstart.html %}
	</section>
</div>
